img {
  width: 30%;
  /* margin: 1.66666%; */
  /* 30% of the parent element which is the body */
  /* without flexbox, margin has to be calculated with division. 
  We have to divide 10% and divide it by 6 which is 1.6666...% */
  margin: calc(10% / 6);
  /* split 10% 6 ways */
}

nav {
  font-family: "Raleway", sans-serif;
  font: size 1.5em;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10% / 6);
  padding: 1.2em 0; /*20px top/bottom & 0 left/right*/
}
